<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mynaav">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/iconforapp"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/iconforapp"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyNaav"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".User_Privacy_Policy"
            android:exported="false" />
        <activity
            android:name=".Boat_Privacy_Policy"
            android:exported="false" />
        <activity
            android:name=".otp_fetch_boat"
            android:exported="false" />
        <activity
            android:name=".Home_activity_boat"
            android:exported="false" />
        <activity
            android:name=".Boatownerwelcomepage"
            android:exported="false" />
        <activity
            android:name=".AvailableBoats"
            android:exported="false" />
        <activity
            android:name=".userboatview"
            android:exported="false" />
        <activity
            android:name=".DetailsFetchedofBoatOwner"
            android:exported="false" />
        <activity
            android:name=".BankDetailsOfBoatOwner"
            android:exported="false" />
        <activity
            android:name=".Boat_Owner_Registeration"
            android:exported="false" />
        <activity
            android:name=".UserData"
            android:exported="false" />
        <activity
            android:name=".otpfetch"
            android:exported="false" />
        <activity
            android:name=".Home_Activity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>